/* negishut */
#negishut_wrap{ 
    z-index: 1500;
    position: fixed;
    top: 10px;
    left: 0;

}
#negishut-content{    
	background: white;
    
    border: 1px solid blue;
    font-size: 19px;
    white-space: nowrap;
	display:none;
	}
#negishut-content-inner{padding: 20px; padding-top:0px;}
#negishut_door{
	position: absolute;
    right: -33px !important;
    top: 0px;
}
@media (max-width: 480px){
	#negishut_wrap{position:fixed;}
	#negishut_door{top:350px; right:-33px !important;}
	#negishut_door_text{display:none;}
}
#negishut_door a{
    position: absolute;
    display: block;
    height: 23px;
    padding-right: 10px;
    color: white !important;
    padding-left: 23px;
    background: black url(image/Nagish.png) no-repeat 3px !important;
    padding-top: 12px;
    font-size: 19px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#close_negishut_x a{
    display: block;
    height: 34px;
    padding-right: 10px;
    color: blue !important;
    padding-left: 37px;
    background: white url(image/negishut_close.jpg) no-repeat 3px !important;
    padding-top: 12px;
    font-size: 18px;	
}
#negishut_wrap ul{margin-right:0px; max-height:86vh; overflow:auto;}
#negishut_wrap ul li{list-style:none; padding-bottom:5px; margin-right:25px;}
#negishut_wrap ul li.negishut-title{padding-top:12px; margin-right:0px;}
#negishut_wrap ul li a{color:blue !important;}

body #negishut_wrap li#negishut_font_smaller a{color:#999 !important;}
body.negishut_f #negishut_wrap li#negishut_font_smaller a{color:blue !important;}
body.negishut_f_4 #negishut_wrap li#negishut_font_bigger a{color:#999 !important;}

body #negishut_wrap li#negishut_contrast_0 a{color:#999 !important;}
body.negishut_c #negishut_wrap li#negishut_contrast_0 a{color:blue !important;}

body.negishut_c_2 #negishut_wrap li#negishut_contrast_2 a{color:#999 !important;}
body.negishut_c_1 #negishut_wrap li#negishut_contrast_1 a{color:#999 !important;}

body #negishut_wrap li#run_news_marquee a{color:#999 !important;}
body.negishut_stop_movements #negishut_wrap li#run_news_marquee a{color:blue !important;}
body.negishut_stop_movements #negishut_wrap li#stop_news_marquee a{color:#999 !important;}


body.negishut_f,body.negishut_use_navigation {padding-top:0px !important;}
body.negishut_f #page_fixed_top,body.negishut_use_navigation #page_fixed_top {position:relative !important;}
body.negishut_f .main-title,body.negishut_use_navigation .main-title{}

#negishut_topSliceLinks a{text-decoration:underline;}

body.negishut_f_1 #landingContent *,
body.negishut_f_1 #landingContent font,
body.negishut_f_1 #landingContent span,
body.negishut_f_1 #landingContent a,
body.negishut_f_1 #landingContent p,
body.negishut_f_1 #landingContent table td{font-size:100.3% !important;}
body.negishut_f_1 #negishut_topSliceLinks{font-size:14px;}


body.negishut_f_2 #landingContent *,
body.negishut_f_2 #landingContent font,
body.negishut_f_2 #landingContent span,
body.negishut_f_2 #landingContent a,
body.negishut_f_2 #landingContent p,
body.negishut_f_2 #landingContent table td{font-size:100.5% !important;}
body.negishut_f_2 #negishut_topSliceLinks{font-size:16px;}

body.negishut_f_3 #landingContent *,
body.negishut_f_3 #landingContent font,
body.negishut_f_3 #landingContent span,
body.negishut_f_3 #landingContent a,
body.negishut_f_3 #landingContent p,
body.negishut_f_3 #landingContent table td{font-size:101% !important;}
body.negishut_f_3 #negishut_topSliceLinks{font-size:17px;}

body.negishut_f_4 #landingContent *,
body.negishut_f_4 #landingContent font,
body.negishut_f_4 #landingContent span,
body.negishut_f_4 #landingContent a,
body.negishut_f_4 #landingContent p,
body.negishut_f_4 #landingContent table td{font-size:101.5% !important;}
body.negishut_f_4 #negishut_topSliceLinks{font-size:18px;}

@media screen and (min-width: 775px){
	body.negishut_c #negishut_topSliceLinks{display:block !important; padding:10px; border:1px solid;}
	body.negishut_f #negishut_topSliceLinks{display:block !important; padding:10px; border:1px solid;}
}
body.negishut_c #mobile_page{display:block;}
body.negishut_c #page{display:none;}
body.negishut_f #mobile_page{display:block;}
body.negishut_f #page{display:none;}


body.negishut_c_1, body.negishut_c_1 *{background:black !important; color:white !important; border-color:white !important;}
body.negishut_c_1 input[type="button"],body.negishut_c_1 input[type="submit"]{border-width:2px; border-style:solid;}
body.negishut_c_1 #menu li{border: 1px solid; margin-bottom:3px;}
body.negishut_c_1 a{text-decoration:underline !important;}
body.negishut_c_1  .dropdown-caret{    box-shadow: -2px 2px 0px white;}
body.negishut_c_1  img,body.negishut_c_1 #topSliceBack{ -webkit-filter: sepia(100%)}
body.negishut_c_1 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
body.negishut_c_1 ::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
body.negishut_c_1 :-ms-input-placeholder { /* IE 10+ */
  color: white;
}
body.negishut_c_1 :-moz-placeholder { /* Firefox 18- */
  color: white;
}

body.negishut_c_2, body.negishut_c_2 *{background:white !important; color:black !important; border-color:black !important;}
body.negishut_c_2 input[type="button"],body.negishut_c_2 input[type="submit"]{border-width:2px; border-style:solid;}
body.negishut_c_2 #menu li{border: 1px solid; margin-bottom:3px;}
body.negishut_c_2 a{text-decoration:underline !important;}
body.negishut_c_2  .dropdown-caret{    box-shadow: -2px 2px 0px white;}
body.negishut_c_2  img,body.negishut_c_2 #topSliceBack{ -webkit-filter: grayscale(100%)}
body.negishut_c_2 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
body.negishut_c_2 ::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
body.negishut_c_2 :-ms-input-placeholder { /* IE 10+ */
  color: black;
}
body.negishut_c_2 :-moz-placeholder { /* Firefox 18- */
  color: black;
}
	