##php_flag display_errors  Oî
##php_value	erorr_reporting 7
#<IfModule mod_security.c>
#SecFilterEngine Off
#</IfModule>
#AuthGroupFile /dev/null
#AuthType Basic
#AuthUserFile /home/ilan123/domains/ilbiz.co.il/.htpasswd/public_html/site-admin/.htpasswd
#AuthName "Go away"
#require valid-user
#ErrorDocument 401 "Unauthorized Access"
AuthGroupFile /dev/null
AuthType Basic
AuthUserFile /home/ilan123/domains/ilbiz.co.il/.htpasswd/public_html/site-admin/.htpasswd
AuthName "admin"
require valid-user
ErrorDocument 401 "Unauthorized Access"
satisfy any
deny from all
allow from 62.128.52.101
